.welcome{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 40%;  
}
nav{
    padding: 20px;
    text-align: end;
}
nav a{
    display: inline-flexbox;
    color: black;
    padding: 16px;
    text-decoration: none;

}
nav a:hover{
    background-color: pink;
    color: red;
}

form{
    justify-content: center;
}